* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
  color: white;
  font-family: "Courier New", Courier, monospace;
}
body {
  /* border: 1px solid; */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: hue-rotate(30deg);
}
body::before {
  background: url("./images/circle-scatter-haikei.png");
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}
.container {
  border: 10px groove #2fff7f;
  height: 400px;
  width: 600px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #2e2c2ce7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wishes {
  color: aqua;
  text-align: center;
}
.name {
  color: greenyellow;
  text-align: center;
}
h3 {
  margin: 10px;
}
.title {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.titleContainer {
  display: flex;
  /* border: 1px solid; */
  justify-content: space-around;
  align-items: center;
}
.heart {
  /* border: 1px solid; */
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
i {
  font-size: 200px;
  animation: infinite dunda 2s ease-out;
}
@keyframes dunda {
  0% {
    scale: 0.5;
  }
  100% {
    scale: 1;
  }
}

@media (max-width: 480px) {
  .container {
    border: 5px groove #2fff7f;
    height: 500px;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
  }

  .heart {
    width: 20%;
  }
  i {
    font-size: 80px;
  }
  h3 {
    margin: 5px;
    font-size: 15px;
    text-align: center;
  }
  h1{
    font-size: 22px;
  }
}
